.todos {
  height: 100%;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  /* TODO 지우기 */
  border: 1px solid black;
}

ul {
  list-style-type: disc; /* Default bullet style for top-level lists */
  margin: 0; /* Remove default margin */
  padding-left: 20px; /* Add padding to the left for indentation */
}

ul ul {
  list-style-type: none; /* Hide parent's bullet */
  padding-left: 20px; /* Indent nested lists */
}

ul ul ul {
  list-style-type: none; /* Hide parent's bullet */
  padding-left: 20px; /* Further indentation for deeper lists */
}

li {
  margin-bottom: 8px; /* Space out list items */
}
