@font-face {
  font-family: 'yujoo';
  src: url('./assets/font/YeojuCeramic\ TTF.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: 'yujoo', sans-serif;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: #fffff0;
}
